@import url(bootstrap);
@import url(bootstrap-icons);

.card {
    border-color: orange;
}

.img,
.img_single {
    width: 100%;
    height: 500px;
}

.card a {
    text-decoration: none;
}


@media screen and (max-width: 768px) {

    .card-content {
        display: block !important;
    }

    .card-image-top {
        margin-bottom: 1rem;
    }

    .img,
    .img_single {
        height: 600px;
    }
}