@import url(bootstrap);
@import url(bootstrap-icons);


.card {
    border-color: orange;
}

.img,
.img_single {
    width: 100%;
    height: 500px;
}

a:hover {
    font-weight: bold !important;
}

button a {
    text-decoration: none;
}


.list-group-item {
    border: solid, 1px rgba(255, 193, 7, 0.25)
}

.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25)
}

.loader {
    background-color: rgba(35, 35, 35, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

@media screen and (max-width: 768px) {

    .card-content {
        display: block !important;
    }

    .card-image-top {
        margin-bottom: 1rem;
    }

    .img,
    .img_single {
        height: 600px;
    }
}